In [37]:
import pandas as pd
import numpy as np
import pymc as pm
import seaborn as sns
from sklearn.model_selection import train_test_split
pd.set_option('display.max_rows', 500)
import arviz as az
import matplotlib.pyplot as plt

## READ IN DATA

In [38]:
# select all the players besides dbs and wrs
players = pd.read_csv("https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/nfl-big-data-bowl-2023/players.csv")

positions = ['DE', 'OLB','DT', 'ILB', 'NT', 'MLB', 'LB', 'RB', 'T', 'TE','G','QB','C','FB']
positions_df = players[players['officialPosition'].isin(positions)]
players_list = positions_df['nflId']

In [39]:
# Read in all the weeks but only for the positons above
locations = pd.DataFrame()
for i in range(1,8):
    url = 'https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/nfl-big-data-bowl-2023/week'+str(i)+'.csv'
    week_data = pd.read_csv(url)
    week_data = week_data[(week_data['nflId'].isin(players_list)) | (week_data['team'] == 'football')]
    locations = pd.concat([locations, week_data])

In [40]:
locations

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,97,25511.0,1,2021-09-10 00:26:31,12.0,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,2021090900,97,25511.0,2,2021-09-10 00:26:31,12.0,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2021090900,97,25511.0,3,2021-09-10 00:26:31,12.0,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,2021090900,97,25511.0,4,2021-09-10 00:26:31,12.0,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,2021090900,97,25511.0,5,2021-09-10 00:26:31,12.0,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906287,2021102500,3998,NaN,71,2021-10-26 03:17:05,NaN,football,left,112.93,14.52,22.04,0.44,2.62,NaN,NaN,pass_forward
906288,2021102500,3998,NaN,72,2021-10-26 03:17:06,NaN,football,left,111.34,16.07,21.95,1.40,2.22,NaN,NaN,None
906289,2021102500,3998,NaN,73,2021-10-26 03:17:06,NaN,football,left,109.74,17.60,21.81,2.02,2.21,NaN,NaN,None
906290,2021102500,3998,NaN,74,2021-10-26 03:17:06,NaN,football,left,108.17,19.12,21.66,2.39,2.19,NaN,NaN,None
906291,2021102500,3998,NaN,75,2021-10-26 03:17:06,NaN,football,left,106.62,20.63,21.53,2.68,2.17,NaN,NaN,None

In [41]:
pff = pd.read_csv("https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/nfl-big-data-bowl-2023/pffScoutingData.csv")

In [42]:
pff

,gameId,playId,nflId,pff_role,pff_positionLinedUp,pff_hit,pff_hurry,pff_sack,pff_beatenByDefender,pff_hitAllowed,pff_hurryAllowed,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_blockType,pff_backFieldBlock
0,2021090900,97,25511,Pass,QB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021090900,97,35481,Pass Route,TE-L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021090900,97,35634,Pass Route,LWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021090900,97,39985,Pass Route,HB-R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021090900,97,40151,Pass Block,C,NaN,NaN,NaN,0.0,0.0,0.0,0.0,44955.0,SW,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188249,2021110100,4433,52507,Pass Block,LT,NaN,NaN,NaN,0.0,0.0,1.0,0.0,43338.0,PP,0.0
188250,2021110100,4433,52546,Coverage,SCBoR,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188251,2021110100,4433,52573,Pass Route,SLoWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188252,2021110100,4433,52585,Pass Rush,LEO,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188253,2021110100,4433,53449,Pass Route,LWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Going to join these columns in with the tracking data
pff_filter = pff[['gameId','playId','nflId','pff_role','pff_positionLinedUp','pff_nflIdBlockedPlayer','pff_blockType']]

In [44]:
locations_ball = locations.merge(pff_filter, on=['gameId','playId','nflId'], how='left')

In [45]:
plays = pd.read_csv("https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/nfl-big-data-bowl-2023/plays.csv")

In [46]:
plays

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
1,2021090900,137,(13:18) (Shotgun) D.Prescott pass deep left to...,1,1,10,DAL,TB,DAL,2,...,NaN,108.0,EMPTY,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 4 LB, 3 DB",TRADITIONAL,0,Cover-3,Zone
2,2021090900,187,(12:23) (Shotgun) D.Prescott pass short middle...,1,2,6,DAL,TB,DAL,34,...,NaN,76.0,SHOTGUN,"0 RB, 2 TE, 3 WR",6.0,"3 DL, 3 LB, 5 DB",TRADITIONAL,0,Cover-3,Zone
3,2021090900,282,(9:56) D.Prescott pass incomplete deep left to...,1,1,10,DAL,TB,TB,39,...,NaN,49.0,SINGLEBACK,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Cover-3,Zone
4,2021090900,349,(9:46) (Shotgun) D.Prescott pass incomplete sh...,1,3,15,DAL,TB,TB,44,...,NaN,54.0,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,2021110100,4310,(1:56) (Shotgun) P.Mahomes sacked at NYG 16 fo...,4,3,8,KC,NYG,NYG,8,...,NaN,18.0,SHOTGUN,"1 RB, 1 TE, 3 WR",4.0,"1 DL, 3 LB, 7 DB",SCRAMBLE,0,Bracket,Other
8554,2021110100,4363,(1:07) (Shotgun) D.Jones pass short right to E...,4,1,10,NYG,KC,NYG,25,...,NaN,35.0,SHOTGUN,"1 RB, 1 TE, 3 WR",5.0,"4 DL, 1 LB, 6 DB",SCRAMBLE,0,Cover-2,Zone
8555,2021110100,4392,"(1:01) (No Huddle, Shotgun) D.Jones sacked at ...",4,2,7,NYG,KC,NYG,28,...,NaN,38.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 1 LB, 6 DB",TRADITIONAL,0,Cover-2,Zone
8556,2021110100,4411,"(:39) (No Huddle, Shotgun) D.Jones pass incomp...",4,3,15,NYG,KC,NYG,20,...,NaN,30.0,SHOTGUN,"1 RB, 1 TE, 3 WR",5.0,"4 DL, 1 LB, 6 DB",TRADITIONAL,0,Cover-2,Zone
8557,2021110100,4433,(:35) (Shotgun) D.Jones sacked at NYG 14 for -...,4,4,15,NYG,KC,NYG,20,...,NaN,30.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 1 LB, 6 DB",TRADITIONAL,0,Quarters,Zone

In [47]:
# Also going to be added in to the tracking data
plays_filter = plays[['gameId','playId','dropBackType','pff_playAction']]

In [48]:
locations_ball = locations_ball.merge(plays_filter, on=['gameId','playId'], how='left')

In [49]:
locations_ball

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,...,dis,o,dir,event,pff_role,pff_positionLinedUp,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction
0,2021090900,97,25511.0,1,2021-09-10 00:26:31,12.0,TB,right,37.77,24.22,...,0.03,165.16,84.99,None,Pass,QB,NaN,NaN,TRADITIONAL,0
1,2021090900,97,25511.0,2,2021-09-10 00:26:31,12.0,TB,right,37.78,24.22,...,0.02,164.33,92.87,None,Pass,QB,NaN,NaN,TRADITIONAL,0
2,2021090900,97,25511.0,3,2021-09-10 00:26:31,12.0,TB,right,37.78,24.24,...,0.01,160.24,68.55,None,Pass,QB,NaN,NaN,TRADITIONAL,0
3,2021090900,97,25511.0,4,2021-09-10 00:26:31,12.0,TB,right,37.73,24.25,...,0.06,152.13,296.85,None,Pass,QB,NaN,NaN,TRADITIONAL,0
4,2021090900,97,25511.0,5,2021-09-10 00:26:31,12.0,TB,right,37.69,24.26,...,0.04,148.33,287.55,None,Pass,QB,NaN,NaN,TRADITIONAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4863391,2021102500,3998,NaN,71,2021-10-26 03:17:05,NaN,football,left,112.93,14.52,...,2.62,NaN,NaN,pass_forward,NaN,NaN,NaN,NaN,SCRAMBLE,0
4863392,2021102500,3998,NaN,72,2021-10-26 03:17:06,NaN,football,left,111.34,16.07,...,2.22,NaN,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0
4863393,2021102500,3998,NaN,73,2021-10-26 03:17:06,NaN,football,left,109.74,17.60,...,2.21,NaN,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0
4863394,2021102500,3998,NaN,74,2021-10-26 03:17:06,NaN,football,left,108.17,19.12,...,2.19,NaN,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0
4863395,2021102500,3998,NaN,75,2021-10-26 03:17:06,NaN,football,left,106.62,20.63,...,2.17,NaN,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0

In [50]:
# create unique play ID for each play
locations_ball['uniqueplayId'] = locations_ball['gameId'].astype(str) + locations_ball['playId'].astype(str)

In [51]:
# Dropping all of the rows that occur before the snap of the ball
snap_time = locations_ball.loc[locations_ball['event'] == 'ball_snap',['uniqueplayId', 'frameId']].rename(columns = {'frameId':'ball_snap_frame'})
snap_time_unique = snap_time.drop_duplicates(subset = 'uniqueplayId')

In [52]:
locations_ball2 = locations_ball.merge(snap_time_unique, on = 'uniqueplayId', how = 'left')
locations_ball2

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,...,dir,event,pff_role,pff_positionLinedUp,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction,uniqueplayId,ball_snap_frame
0,2021090900,97,25511.0,1,2021-09-10 00:26:31,12.0,TB,right,37.77,24.22,...,84.99,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
1,2021090900,97,25511.0,2,2021-09-10 00:26:31,12.0,TB,right,37.78,24.22,...,92.87,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
2,2021090900,97,25511.0,3,2021-09-10 00:26:31,12.0,TB,right,37.78,24.24,...,68.55,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
3,2021090900,97,25511.0,4,2021-09-10 00:26:31,12.0,TB,right,37.73,24.25,...,296.85,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
4,2021090900,97,25511.0,5,2021-09-10 00:26:31,12.0,TB,right,37.69,24.26,...,287.55,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4863391,2021102500,3998,NaN,71,2021-10-26 03:17:05,NaN,football,left,112.93,14.52,...,NaN,pass_forward,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863392,2021102500,3998,NaN,72,2021-10-26 03:17:06,NaN,football,left,111.34,16.07,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863393,2021102500,3998,NaN,73,2021-10-26 03:17:06,NaN,football,left,109.74,17.60,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863394,2021102500,3998,NaN,74,2021-10-26 03:17:06,NaN,football,left,108.17,19.12,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863395,2021102500,3998,NaN,75,2021-10-26 03:17:06,NaN,football,left,106.62,20.63,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0

In [53]:
locations_ball3 = locations_ball2[~(locations_ball2['frameId'] < locations_ball2['ball_snap_frame'])]

In [54]:
locations_ball3

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,...,dir,event,pff_role,pff_positionLinedUp,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction,uniqueplayId,ball_snap_frame
5,2021090900,97,25511.0,6,2021-09-10 00:26:31,12.0,TB,right,37.64,24.26,...,282.72,ball_snap,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
6,2021090900,97,25511.0,7,2021-09-10 00:26:31,12.0,TB,right,37.56,24.26,...,272.95,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
7,2021090900,97,25511.0,8,2021-09-10 00:26:31,12.0,TB,right,37.47,24.25,...,267.49,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
8,2021090900,97,25511.0,9,2021-09-10 00:26:31,12.0,TB,right,37.38,24.24,...,263.48,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
9,2021090900,97,25511.0,10,2021-09-10 00:26:32,12.0,TB,right,37.27,24.23,...,263.77,None,Pass,QB,NaN,NaN,TRADITIONAL,0,202109090097,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4863391,2021102500,3998,NaN,71,2021-10-26 03:17:05,NaN,football,left,112.93,14.52,...,NaN,pass_forward,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863392,2021102500,3998,NaN,72,2021-10-26 03:17:06,NaN,football,left,111.34,16.07,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863393,2021102500,3998,NaN,73,2021-10-26 03:17:06,NaN,football,left,109.74,17.60,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863394,2021102500,3998,NaN,74,2021-10-26 03:17:06,NaN,football,left,108.17,19.12,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0
4863395,2021102500,3998,NaN,75,2021-10-26 03:17:06,NaN,football,left,106.62,20.63,...,NaN,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,20211025003998,8.0

In [55]:
# Add the location of the football on the play to each row then standardize x and y on this location
locations_ball4 = locations_ball3.loc[(locations_ball3['team'] == 'football') & (locations_ball3['event'] == 'ball_snap'),
                               ['uniqueplayId', 'x', 'y']
                               ].rename(columns={'x':'football_x',
                                                 'y':'football_y'}).merge(locations_ball3, on='uniqueplayId', how='left')

locations_ball4['new_x'] = np.where(locations_ball4['playDirection']=='left', 
                                   locations_ball4['football_x']-locations_ball4['x'],
                                   locations_ball4['x']-locations_ball4['football_x'])

locations_ball4['new_y'] = np.where(locations_ball4['playDirection']=='left', 
                                   locations_ball4['football_y']-locations_ball4['y'],
                                   locations_ball4['y']-locations_ball4['football_y'])

In [56]:
locations_ball4

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,event,pff_role,pff_positionLinedUp,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y
0,202109090097,41.56,23.92,2021090900,97,25511.0,6,2021-09-10 00:26:31,12.0,TB,...,ball_snap,Pass,QB,NaN,NaN,TRADITIONAL,0,6.0,-3.92,0.34
1,202109090097,41.56,23.92,2021090900,97,25511.0,7,2021-09-10 00:26:31,12.0,TB,...,None,Pass,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.00,0.34
2,202109090097,41.56,23.92,2021090900,97,25511.0,8,2021-09-10 00:26:31,12.0,TB,...,None,Pass,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.09,0.33
3,202109090097,41.56,23.92,2021090900,97,25511.0,9,2021-09-10 00:26:31,12.0,TB,...,None,Pass,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.18,0.32
4,202109090097,41.56,23.92,2021090900,97,25511.0,10,2021-09-10 00:26:32,12.0,TB,...,None,Pass,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.29,0.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4209300,20211025003998,105.09,23.78,2021102500,3998,NaN,71,2021-10-26 03:17:05,NaN,football,...,pass_forward,NaN,NaN,NaN,NaN,SCRAMBLE,0,8.0,-7.84,9.26
4209301,20211025003998,105.09,23.78,2021102500,3998,NaN,72,2021-10-26 03:17:06,NaN,football,...,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,8.0,-6.25,7.71
4209302,20211025003998,105.09,23.78,2021102500,3998,NaN,73,2021-10-26 03:17:06,NaN,football,...,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,8.0,-4.65,6.18
4209303,20211025003998,105.09,23.78,2021102500,3998,NaN,74,2021-10-26 03:17:06,NaN,football,...,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,8.0,-3.08,4.66
4209304,20211025003998,105.09,23.78,2021102500,3998,NaN,75,2021-10-26 03:17:06,NaN,football,...,None,NaN,NaN,NaN,NaN,SCRAMBLE,0,8.0,-1.53,3.15

In [57]:
## Filtering to only be traditional dropbacks
locations_ball5 = locations_ball4[locations_ball4['dropBackType'] == 'TRADITIONAL']

### REMOVING CHIP BLOCK

In [58]:
locations_ball5['chip_side'] = np.where(locations_ball5['pff_blockType']=='CH', np.where(locations_ball5['new_y']>0, 'right', 'left'), 'none')
locations_ball5['chip_side'] = locations_ball5.groupby('uniqueplayId')['chip_side'].transform(lambda x: 'left' if 'left' in x.unique() else 'right' if 'right' in x.unique() else 'none')

/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/296146065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_ball5['chip_side'] = np.where(locations_ball5['pff_blockType']=='CH', np.where(locations_ball5['new_y']>0, 'right', 'left'), 'none')
/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/296146065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_ball5['chip_side'] = locations_ball5.groupby('uniqueplayId')['chip_side'].transform(lambda x: 'left' if 'left' in x.unique() else 'right' if 'right' in x.unique() else 'none')

In [59]:
# Remove the offensive linesmen on the side of the field where the chip is 
locations_no_chip = locations_ball5.loc[~(((locations_ball5['pff_positionLinedUp']=='LT')& (locations_ball5['chip_side']=='left'))|
                                ((locations_ball5['pff_positionLinedUp']=='RT')& (locations_ball5['chip_side']=='right')))]

In [60]:
# Take out the rbs, tes, fbs
chip_positions = ['HB-L','HB-R','TE-R','HB','TE-L','TE-oR','TE-iR','TE-iL','TE-oL','FB-R','FB-L','FB']
locations_no_chip = locations_no_chip[~(locations_no_chip['pff_positionLinedUp'].isin(chip_positions))]

In [61]:
## Now going to filter out anything after the ball has been thrown
end_time = locations_no_chip.loc[locations_no_chip['event'].isin(['pass_forward','qb_sack','qb_strip_sack']),['uniqueplayId', 'frameId']].rename(columns = {'frameId':'end_frame'})
end_time_unique = end_time.drop_duplicates(subset = 'uniqueplayId')

In [62]:
locations_final = locations_no_chip.merge(end_time_unique, on = 'uniqueplayId', how = 'left')
locations_final = locations_final.dropna(subset = ['end_frame'])

In [63]:
# Left with only plays that resulted in a sack, strip sack, or throw by the qb
locations_final

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,pff_positionLinedUp,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame
0,202109090097,41.56,23.92,2021090900,97,25511.0,6,2021-09-10 00:26:31,12.0,TB,...,QB,NaN,NaN,TRADITIONAL,0,6.0,-3.92,0.34,none,40.0
1,202109090097,41.56,23.92,2021090900,97,25511.0,7,2021-09-10 00:26:31,12.0,TB,...,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.00,0.34,none,40.0
2,202109090097,41.56,23.92,2021090900,97,25511.0,8,2021-09-10 00:26:31,12.0,TB,...,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.09,0.33,none,40.0
3,202109090097,41.56,23.92,2021090900,97,25511.0,9,2021-09-10 00:26:31,12.0,TB,...,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.18,0.32,none,40.0
4,202109090097,41.56,23.92,2021090900,97,25511.0,10,2021-09-10 00:26:32,12.0,TB,...,QB,NaN,NaN,TRADITIONAL,0,6.0,-4.29,0.31,none,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613950,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,NaN,NaN,NaN,TRADITIONAL,0,7.0,-7.18,-3.67,none,44.0
2613951,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,NaN,NaN,NaN,TRADITIONAL,0,7.0,-7.22,-3.89,none,44.0
2613952,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,NaN,TRADITIONAL,0,7.0,-7.27,-4.08,none,44.0
2613953,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,NaN,TRADITIONAL,0,7.0,-7.31,-4.26,none,44.0
2613954,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,NaN,TRADITIONAL,0,7.0,-7.36,-4.41,none,44.0

In [64]:
# Now going to remove any players that aren't the tackles, defensive ends, qb or ball
subset1 = locations_final[['pff_nflIdBlockedPlayer', 'uniqueplayId','pff_positionLinedUp']]
subset2 = subset1[subset1['pff_positionLinedUp'].isin(['LT','RT'])]

In [65]:
# left here with a list of each who each tackle blocked on each play
subset3 = subset2.drop_duplicates(['uniqueplayId', 'pff_positionLinedUp'])
subset3

         pff_nflIdBlockedPlayer    uniqueplayId pff_positionLinedUp
114                     42403.0    202109090097                  LT
342                     53441.0    202109090097                  RT
556                     35454.0   2021090900137                  LT
680                     40074.0   2021090900137                  RT
1104                    35454.0   2021090900187                  LT
...                         ...             ...                 ...
2612462                 41786.0  20211025003684                  RT
2612962                 46083.0  20211025003904                  LT
2613148                 37097.0  20211025003904                  RT
2613396                 46083.0  20211025003926                  LT
2613654                 37097.0  20211025003926                  RT

[10629 rows x 3 columns]

In [66]:
left_ends = subset3[subset3['pff_positionLinedUp'] == 'LT'].rename(columns = {'pff_nflIdBlockedPlayer':'Right_end'}).drop(['pff_positionLinedUp'],axis = 1)
left_ends

         Right_end    uniqueplayId
114        42403.0    202109090097
556        35454.0   2021090900137
1104       35454.0   2021090900187
1518       34777.0   2021090900282
2443       53441.0   2021090900410
...            ...             ...
2611187    52556.0  20211025003536
2611846    52556.0  20211025003660
2612312    52556.0  20211025003684
2612962    46083.0  20211025003904
2613396    46083.0  20211025003926

[5177 rows x 2 columns]

In [67]:
right_ends = subset3[subset3['pff_positionLinedUp'] == 'RT'].rename(columns = {'pff_nflIdBlockedPlayer':'Left_end'}).drop(['pff_positionLinedUp'],axis = 1)
right_ends

         Left_end    uniqueplayId
342       53441.0    202109090097
680       40074.0   2021090900137
1182      35441.0   2021090900187
1708      40074.0   2021090900282
2098      35441.0   2021090900349
...           ...             ...
2611358   35562.0  20211025003536
2611942   41786.0  20211025003660
2612462   41786.0  20211025003684
2613148   37097.0  20211025003904
2613654   37097.0  20211025003926

[5452 rows x 2 columns]

In [68]:
locations_right = locations_final.merge(right_ends, on = 'uniqueplayId', how = 'left')
locations_right

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,pff_nflIdBlockedPlayer,pff_blockType,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end
0,202109090097,41.56,23.92,2021090900,97,25511.0,6,2021-09-10 00:26:31,12.0,TB,...,NaN,NaN,TRADITIONAL,0,6.0,-3.92,0.34,none,40.0,53441.0
1,202109090097,41.56,23.92,2021090900,97,25511.0,7,2021-09-10 00:26:31,12.0,TB,...,NaN,NaN,TRADITIONAL,0,6.0,-4.00,0.34,none,40.0,53441.0
2,202109090097,41.56,23.92,2021090900,97,25511.0,8,2021-09-10 00:26:31,12.0,TB,...,NaN,NaN,TRADITIONAL,0,6.0,-4.09,0.33,none,40.0,53441.0
3,202109090097,41.56,23.92,2021090900,97,25511.0,9,2021-09-10 00:26:31,12.0,TB,...,NaN,NaN,TRADITIONAL,0,6.0,-4.18,0.32,none,40.0,53441.0
4,202109090097,41.56,23.92,2021090900,97,25511.0,10,2021-09-10 00:26:32,12.0,TB,...,NaN,NaN,TRADITIONAL,0,6.0,-4.29,0.31,none,40.0,53441.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2602441,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,NaN,NaN,TRADITIONAL,0,7.0,-7.18,-3.67,none,44.0,37097.0
2602442,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,NaN,NaN,TRADITIONAL,0,7.0,-7.22,-3.89,none,44.0,37097.0
2602443,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,TRADITIONAL,0,7.0,-7.27,-4.08,none,44.0,37097.0
2602444,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,TRADITIONAL,0,7.0,-7.31,-4.26,none,44.0,37097.0
2602445,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,NaN,NaN,TRADITIONAL,0,7.0,-7.36,-4.41,none,44.0,37097.0

In [69]:
locations_left = locations_right.merge(left_ends, on = 'uniqueplayId', how = 'left')
locations_left['pff_positionLinedUp'] = locations_left['pff_positionLinedUp'].fillna('ball')

In [70]:
locations_non_end = locations_left[locations_left['pff_positionLinedUp'].isin(['LT','RT','QB','ball'])]
locations_end = locations_left[((locations_left['nflId'] == locations_left['Left_end'])|(locations_left['nflId'] == locations_left['Right_end']))]

In [71]:
locations_final2 = locations_end.merge(locations_non_end, how = 'outer')

/Users/joshgen/miniconda3/envs/pymc_env/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

In [72]:
locations_final2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,pff_blockType,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end
0,202109090097,41.56,23.92,2021090900,97,42403.0,6,2021-09-10 00:26:31,94.0,DAL,...,NaN,TRADITIONAL,0,6.0,2.34,8.71,none,40.0,53441.0,42403.0
1,202109090097,41.56,23.92,2021090900,97,42403.0,7,2021-09-10 00:26:31,94.0,DAL,...,NaN,TRADITIONAL,0,6.0,2.27,8.70,none,40.0,53441.0,42403.0
2,202109090097,41.56,23.92,2021090900,97,42403.0,8,2021-09-10 00:26:31,94.0,DAL,...,NaN,TRADITIONAL,0,6.0,2.12,8.62,none,40.0,53441.0,42403.0
3,202109090097,41.56,23.92,2021090900,97,42403.0,9,2021-09-10 00:26:31,94.0,DAL,...,NaN,TRADITIONAL,0,6.0,1.93,8.54,none,40.0,53441.0,42403.0
4,202109090097,41.56,23.92,2021090900,97,42403.0,10,2021-09-10 00:26:32,94.0,DAL,...,NaN,TRADITIONAL,0,6.0,1.55,8.32,none,40.0,53441.0,42403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085161,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,NaN,TRADITIONAL,0,7.0,-7.18,-3.67,none,44.0,37097.0,46083.0
1085162,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,NaN,TRADITIONAL,0,7.0,-7.22,-3.89,none,44.0,37097.0,46083.0
1085163,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,NaN,TRADITIONAL,0,7.0,-7.27,-4.08,none,44.0,37097.0,46083.0
1085164,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,NaN,TRADITIONAL,0,7.0,-7.31,-4.26,none,44.0,37097.0,46083.0
1085165,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,NaN,TRADITIONAL,0,7.0,-7.36,-4.41,none,44.0,37097.0,46083.0

In [73]:
# locations_final2.to_csv('data_not_flipped.csv', index = False)

In [74]:
### Next going to want to flip one of the ends to standardize

In [75]:
locations_final2['pff_positionLinedUp'].value_counts()

ball     191999
QB       191999
RT       183018
LT       171918
LEO       77759
REO       70830
ROLB      60393
LOLB      56342
LE        24023
RE        18322
DLT       16508
DRT       15231
LILB       1317
NT         1048
LLB         892
RILB        807
NLT         686
NRT         617
RLB         591
SCBR        308
MLB         201
SCBL        193
SCBiL        71
SCBiR        37
RCB          29
SCBoL        27
Name: pff_positionLinedUp, dtype: int64

In [76]:
loc_subset = locations_final2[((locations_final2['event'] == 'ball_snap') & (locations_final2['new_y'] > 0))]

In [77]:
loc_subset2 = loc_subset[['uniqueplayId','nflId']]
loc_subset2['Flip'] = 1

/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/1030295974.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loc_subset2['Flip'] = 1

In [78]:
locations_flip = locations_final2.merge(loc_subset2, on = ['uniqueplayId','nflId'], how = 'left')
locations_flip['Flip'] = locations_flip['Flip'].fillna(0)
locations_flip['Flip'].value_counts()

0.0    628825
1.0    456341
Name: Flip, dtype: int64

In [79]:
locations_flip2 = locations_flip[((locations_flip['Flip'] == 1) | locations_flip['pff_positionLinedUp'].isin(['QB','ball']))]
locations_flip2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end,Flip
0,202109090097,41.56,23.92,2021090900,97,42403.0,6,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,6.0,2.34,8.71,none,40.0,53441.0,42403.0,1.0
1,202109090097,41.56,23.92,2021090900,97,42403.0,7,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,6.0,2.27,8.70,none,40.0,53441.0,42403.0,1.0
2,202109090097,41.56,23.92,2021090900,97,42403.0,8,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,6.0,2.12,8.62,none,40.0,53441.0,42403.0,1.0
3,202109090097,41.56,23.92,2021090900,97,42403.0,9,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,6.0,1.93,8.54,none,40.0,53441.0,42403.0,1.0
4,202109090097,41.56,23.92,2021090900,97,42403.0,10,2021-09-10 00:26:32,94.0,DAL,...,TRADITIONAL,0,6.0,1.55,8.32,none,40.0,53441.0,42403.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085161,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,7.0,-7.18,-3.67,none,44.0,37097.0,46083.0,0.0
1085162,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,7.0,-7.22,-3.89,none,44.0,37097.0,46083.0,0.0
1085163,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.27,-4.08,none,44.0,37097.0,46083.0,0.0
1085164,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.31,-4.26,none,44.0,37097.0,46083.0,0.0
1085165,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.36,-4.41,none,44.0,37097.0,46083.0,0.0

In [80]:
locations_flip2['pff_positionLinedUp'] = locations_flip2['pff_positionLinedUp'].replace({'QB': 'QB_flip', 'ball': 'ball_flip'})

/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/3487504298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_flip2['pff_positionLinedUp'] = locations_flip2['pff_positionLinedUp'].replace({'QB': 'QB_flip', 'ball': 'ball_flip'})

In [81]:
locations_flip2['pff_positionLinedUp'].value_counts()

QB_flip      191999
ball_flip    191999
LT           171918
REO           70830
ROLB          60393
RE            18322
DRT           15231
RILB            807
NRT             617
RLB             591
NT              580
SCBR            308
MLB             100
RT               67
SCBiR            37
LEO              34
NLT              31
RCB              29
Name: pff_positionLinedUp, dtype: int64

In [82]:
locations_flip2['Flip'] = 1
locations_flip2['new_y'] = locations_flip2['new_y'] * -1

/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/3706249968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_flip2['Flip'] = 1
/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/3706249968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_flip2['new_y'] = locations_flip2['new_y'] * -1

In [83]:
locations_flip2['new_y'].value_counts()

-0.00     13936
 0.02      4280
-0.02      4230
-0.09      3942
-0.07      3734
          ...
-15.47        1
-15.64        1
-15.73        1
-15.75        1
-9.25         1
Name: new_y, Length: 6385, dtype: int64

In [84]:
locations_same = locations_flip[((locations_flip['Flip'] == 0) | locations_flip['pff_positionLinedUp'].isin(['QB','ball']))]
locations_same['Flip'] = 0

/var/folders/2k/10t0ng3n1pdd4bxjxwf5z3xw0000gn/T/ipykernel_78753/2767798611.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  locations_same['Flip'] = 0

In [85]:
locations_with_flip = pd.concat([locations_same, locations_flip2])

In [86]:
locations_with_flip

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end,Flip
38,202109090097,41.56,23.92,2021090900,97,53441.0,6,2021-09-10 00:26:31,11.0,DAL,...,TRADITIONAL,0,6.0,2.12,-1.99,none,40.0,53441.0,42403.0,0
39,202109090097,41.56,23.92,2021090900,97,53441.0,7,2021-09-10 00:26:31,11.0,DAL,...,TRADITIONAL,0,6.0,2.06,-1.96,none,40.0,53441.0,42403.0,0
40,202109090097,41.56,23.92,2021090900,97,53441.0,8,2021-09-10 00:26:31,11.0,DAL,...,TRADITIONAL,0,6.0,1.96,-1.91,none,40.0,53441.0,42403.0,0
41,202109090097,41.56,23.92,2021090900,97,53441.0,9,2021-09-10 00:26:31,11.0,DAL,...,TRADITIONAL,0,6.0,1.80,-1.85,none,40.0,53441.0,42403.0,0
42,202109090097,41.56,23.92,2021090900,97,53441.0,10,2021-09-10 00:26:32,11.0,DAL,...,TRADITIONAL,0,6.0,1.56,-1.72,none,40.0,53441.0,42403.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085161,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,7.0,-7.18,3.67,none,44.0,37097.0,46083.0,1
1085162,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,7.0,-7.22,3.89,none,44.0,37097.0,46083.0,1
1085163,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.27,4.08,none,44.0,37097.0,46083.0,1
1085164,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.31,4.26,none,44.0,37097.0,46083.0,1
1085165,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,7.0,-7.36,4.41,none,44.0,37097.0,46083.0,1

In [87]:
## Now going to remove any obs where the end dropped to coverage
flipped = locations_with_flip[locations_with_flip['Flip'] == 1]
no_flip = locations_with_flip[locations_with_flip['Flip'] == 0]

In [88]:
flipped_no_coverage = flipped[flipped['nflId'] == flipped['Left_end']]
flipped_no_coverage = flipped_no_coverage[['uniqueplayId','pff_role']]
flipped_rush = flipped_no_coverage[flipped_no_coverage['pff_role'] == 'Pass Rush']
flipped_rush

          uniqueplayId   pff_role
16201   20210912031041  Pass Rush
16202   20210912031041  Pass Rush
16203   20210912031041  Pass Rush
16204   20210912031041  Pass Rush
16205   20210912031041  Pass Rush
...                ...        ...
340947  20211024093507  Pass Rush
340948  20211024093507  Pass Rush
340949  20211024093507  Pass Rush
340950  20211024093507  Pass Rush
340951  20211024093507  Pass Rush

[929 rows x 2 columns]

In [89]:
same_no_coverage = no_flip[no_flip['nflId'] == no_flip['Right_end']]
same_no_coverage = same_no_coverage[['uniqueplayId','pff_role']]
same_rush = same_no_coverage[same_no_coverage['pff_role'] == 'Pass Rush']
same_rush

          uniqueplayId   pff_role
9171    20210912011629  Pass Rush
9172    20210912011629  Pass Rush
9173    20210912011629  Pass Rush
9174    20210912011629  Pass Rush
9175    20210912011629  Pass Rush
...                ...        ...
341645   2021102410995  Pass Rush
341646   2021102410995  Pass Rush
341647   2021102410995  Pass Rush
341648   2021102410995  Pass Rush
341649   2021102410995  Pass Rush

[731 rows x 2 columns]

In [90]:
flipped_keep = flipped_rush['uniqueplayId']
flipped2 = flipped[flipped['uniqueplayId'].isin(flipped_keep)]
flipped2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end,Flip
16167,20210912031041,75.23,53.90,2021091203,1041,44915.0,6,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,5.04,-35.07,none,34.0,46146.0,44915.0,1
16168,20210912031041,75.23,53.90,2021091203,1041,44915.0,7,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,5.00,-35.08,none,34.0,46146.0,44915.0,1
16169,20210912031041,75.23,53.90,2021091203,1041,44915.0,8,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.94,-35.09,none,34.0,46146.0,44915.0,1
16170,20210912031041,75.23,53.90,2021091203,1041,44915.0,9,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.85,-35.11,none,34.0,46146.0,44915.0,1
16171,20210912031041,75.23,53.90,2021091203,1041,44915.0,10,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.72,-35.13,none,34.0,46146.0,44915.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073504,20211024093507,49.71,26.21,2021102409,3507,NaN,46,2021-10-24 23:01:15,NaN,football,...,TRADITIONAL,0,7.0,-10.00,-1.93,left,45.0,46081.0,NaN,1
1073505,20211024093507,49.71,26.21,2021102409,3507,NaN,47,2021-10-24 23:01:16,NaN,football,...,TRADITIONAL,0,7.0,-9.08,-2.15,left,45.0,46081.0,NaN,1
1073506,20211024093507,49.71,26.21,2021102409,3507,NaN,48,2021-10-24 23:01:16,NaN,football,...,TRADITIONAL,0,7.0,-8.96,-2.07,left,45.0,46081.0,NaN,1
1073507,20211024093507,49.71,26.21,2021102409,3507,NaN,49,2021-10-24 23:01:16,NaN,football,...,TRADITIONAL,0,7.0,-8.88,-1.98,left,45.0,46081.0,NaN,1
1073508,20211024093507,49.71,26.21,2021102409,3507,NaN,50,2021-10-24 23:01:16,NaN,football,...,TRADITIONAL,0,7.0,-8.75,-1.92,left,45.0,46081.0,NaN,1

In [91]:
no_flip_keep = same_rush['uniqueplayId']
no_flip2 = no_flip[no_flip['uniqueplayId'].isin(no_flip_keep)]
no_flip2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end,Flip
9171,20210912011629,31.68,23.88,2021091201,1629,44886.0,7,2021-09-12 18:16:34,95.0,PIT,...,TRADITIONAL,0,7.0,1.36,-0.03,none,29.0,45395.0,44886.0,0
9172,20210912011629,31.68,23.88,2021091201,1629,44886.0,8,2021-09-12 18:16:34,95.0,PIT,...,TRADITIONAL,0,7.0,1.25,-0.06,none,29.0,45395.0,44886.0,0
9173,20210912011629,31.68,23.88,2021091201,1629,44886.0,9,2021-09-12 18:16:35,95.0,PIT,...,TRADITIONAL,0,7.0,1.09,-0.09,none,29.0,45395.0,44886.0,0
9174,20210912011629,31.68,23.88,2021091201,1629,44886.0,10,2021-09-12 18:16:35,95.0,PIT,...,TRADITIONAL,0,7.0,0.90,-0.12,none,29.0,45395.0,44886.0,0
9175,20210912011629,31.68,23.88,2021091201,1629,44886.0,11,2021-09-12 18:16:35,95.0,PIT,...,TRADITIONAL,0,7.0,0.71,-0.14,none,29.0,45395.0,44886.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075104,2021102410995,28.75,29.73,2021102410,995,NaN,40,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-8.30,-3.81,none,39.0,46133.0,46618.0,0
1075105,2021102410995,28.75,29.73,2021102410,995,NaN,41,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-3.87,-5.26,none,39.0,46133.0,46618.0,0
1075106,2021102410995,28.75,29.73,2021102410,995,NaN,42,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-1.75,-5.95,none,39.0,46133.0,46618.0,0
1075107,2021102410995,28.75,29.73,2021102410,995,NaN,43,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,0.34,-6.64,none,39.0,46133.0,46618.0,0
1075108,2021102410995,28.75,29.73,2021102410,995,NaN,44,2021-10-25 01:05:22,NaN,football,...,TRADITIONAL,1,6.0,2.41,-7.32,none,39.0,46133.0,46618.0,0

In [92]:
locations_with_flip = pd.concat([flipped2, no_flip2])
locations_with_flip

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_frame,new_x,new_y,chip_side,end_frame,Left_end,Right_end,Flip
16167,20210912031041,75.23,53.90,2021091203,1041,44915.0,6,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,5.04,-35.07,none,34.0,46146.0,44915.0,1
16168,20210912031041,75.23,53.90,2021091203,1041,44915.0,7,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,5.00,-35.08,none,34.0,46146.0,44915.0,1
16169,20210912031041,75.23,53.90,2021091203,1041,44915.0,8,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.94,-35.09,none,34.0,46146.0,44915.0,1
16170,20210912031041,75.23,53.90,2021091203,1041,44915.0,9,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.85,-35.11,none,34.0,46146.0,44915.0,1
16171,20210912031041,75.23,53.90,2021091203,1041,44915.0,10,2021-09-12 17:47:06,91.0,CIN,...,TRADITIONAL,0,6.0,4.72,-35.13,none,34.0,46146.0,44915.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075104,2021102410995,28.75,29.73,2021102410,995,NaN,40,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-8.30,-3.81,none,39.0,46133.0,46618.0,0
1075105,2021102410995,28.75,29.73,2021102410,995,NaN,41,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-3.87,-5.26,none,39.0,46133.0,46618.0,0
1075106,2021102410995,28.75,29.73,2021102410,995,NaN,42,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,-1.75,-5.95,none,39.0,46133.0,46618.0,0
1075107,2021102410995,28.75,29.73,2021102410,995,NaN,43,2021-10-25 01:05:21,NaN,football,...,TRADITIONAL,1,6.0,0.34,-6.64,none,39.0,46133.0,46618.0,0
1075108,2021102410995,28.75,29.73,2021102410,995,NaN,44,2021-10-25 01:05:22,NaN,football,...,TRADITIONAL,1,6.0,2.41,-7.32,none,39.0,46133.0,46618.0,0

In [94]:
# locations_with_flip.to_csv('data_flipped.csv', index = False)

In [53]:
classify = pd.read_csv('https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/data_flipped.csv')

<ipython-input-53-5a06576d793d>:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  classify = pd.read_csv('https://media.githubusercontent.com/media/cnickol26/BigDataBowl2023/main/data_flipped.csv')

In [54]:
## First going to remove any lineman who finsished the play past the line of scrimmage. These are most likely screen passes and we don't want to grade these plays. 
## Going to resplit it so it will be easier to remove everything associated with that specific lineman
flip = classify[((classify['Flip'] == 1) | (classify['pff_positionLinedUp'].isin(['QB_flip','ball_flip'])))]
flip

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
189199,2021090900187,78.21,26.39,2021090900,187,43424.0,1,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.94,-0.06,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189200,2021090900187,78.21,26.39,2021090900,187,43424.0,2,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.94,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189201,2021090900187,78.21,26.39,2021090900,187,43424.0,3,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.95,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189202,2021090900187,78.21,26.39,2021090900,187,43424.0,4,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.96,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189203,2021090900187,78.21,26.39,2021090900,187,43424.0,5,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.99,-0.08,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629274,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.18,3.67,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629275,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.22,3.89,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629276,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.27,4.08,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629277,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.31,4.26,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629278,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.36,4.41,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [21]:
flip2 = flip[(flip['time'] == flip['end_time']) & (flip['pff_positionLinedUp'].isin(['LT','RT']))]
flip2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
1003091,202109090097,41.56,23.92,2021090900,97,52421.0,40,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.27,0.51,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003092,202109090097,41.56,23.92,2021090900,97,52421.0,41,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.55,0.48,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003093,202109090097,41.56,23.92,2021090900,97,52421.0,42,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.84,0.47,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003094,202109090097,41.56,23.92,2021090900,97,52421.0,43,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,8.10,0.44,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003168,2021090900137,108.68,23.85,2021090900,137,42654.0,32,2021-09-10 00:28:13,71.0,DAL,...,TRADITIONAL,0,2021-09-10 00:28:10,5.83,3.48,none,2021-09-10 00:28:13,40074.0,35454.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629228,20211025003926,85.95,23.68,2021102500,3926,43447.0,42,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.33,2.36,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629229,20211025003926,85.95,23.68,2021102500,3926,43447.0,43,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.44,2.47,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629230,20211025003926,85.95,23.68,2021102500,3926,43447.0,44,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.54,2.59,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629231,20211025003926,85.95,23.68,2021102500,3926,43447.0,45,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.62,2.72,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629232,20211025003926,85.95,23.68,2021102500,3926,43447.0,46,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.70,2.86,none,2021-10-26 03:14:08,37097.0,46083.0,1.0

In [24]:
## Have multiple frames here since end time lasts a second but that is okay because we don't want any tackles who went across LOS a second or less before play 'end'
flip3 = flip2[flip2['new_y'] > 0]
flip3

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
1003091,202109090097,41.56,23.92,2021090900,97,52421.0,40,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.27,0.51,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003092,202109090097,41.56,23.92,2021090900,97,52421.0,41,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.55,0.48,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003093,202109090097,41.56,23.92,2021090900,97,52421.0,42,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.84,0.47,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003094,202109090097,41.56,23.92,2021090900,97,52421.0,43,2021-09-10 00:26:35,78.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,8.10,0.44,none,2021-09-10 00:26:35,53441.0,42403.0,1.0
1003168,2021090900137,108.68,23.85,2021090900,137,42654.0,32,2021-09-10 00:28:13,71.0,DAL,...,TRADITIONAL,0,2021-09-10 00:28:10,5.83,3.48,none,2021-09-10 00:28:13,40074.0,35454.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629228,20211025003926,85.95,23.68,2021102500,3926,43447.0,42,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.33,2.36,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629229,20211025003926,85.95,23.68,2021102500,3926,43447.0,43,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.44,2.47,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629230,20211025003926,85.95,23.68,2021102500,3926,43447.0,44,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.54,2.59,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629231,20211025003926,85.95,23.68,2021102500,3926,43447.0,45,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.62,2.72,none,2021-10-26 03:14:08,37097.0,46083.0,1.0
1629232,20211025003926,85.95,23.68,2021102500,3926,43447.0,46,2021-10-26 03:14:08,72.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,5.70,2.86,none,2021-10-26 03:14:08,37097.0,46083.0,1.0

In [36]:
flip_ids = flip3['uniqueplayId']
flip_filtered = flip[flip['uniqueplayId'].isin(flip_ids)]
flip_filtered

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
189199,2021090900187,78.21,26.39,2021090900,187,43424.0,1,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.94,-0.06,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189200,2021090900187,78.21,26.39,2021090900,187,43424.0,2,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.94,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189201,2021090900187,78.21,26.39,2021090900,187,43424.0,3,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.95,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189202,2021090900187,78.21,26.39,2021090900,187,43424.0,4,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.96,-0.07,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
189203,2021090900187,78.21,26.39,2021090900,187,43424.0,5,2021-09-10 00:29:15,4.0,DAL,...,TRADITIONAL,0,2021-09-10 00:29:15,2.99,-0.08,none,2021-09-10 00:29:17,35441.0,35454.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629274,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.18,3.67,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629275,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.22,3.89,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629276,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.27,4.08,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629277,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.31,4.26,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629278,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.36,4.41,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [17]:
same = classify[((classify['Flip'] == 0) & ~(classify['pff_positionLinedUp'].isin(['QB_flip','ball_flip'])))]
same

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
0,202109090097,41.56,23.92,2021090900,97,42403.0,1,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.47,8.77,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
1,202109090097,41.56,23.92,2021090900,97,42403.0,2,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.46,8.76,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
2,202109090097,41.56,23.92,2021090900,97,42403.0,3,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.43,8.75,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
3,202109090097,41.56,23.92,2021090900,97,42403.0,4,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.42,8.74,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
4,202109090097,41.56,23.92,2021090900,97,42403.0,5,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.40,8.73,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807553,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.18,-3.67,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807554,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.22,-3.89,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807555,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.27,-4.08,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807556,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.31,-4.26,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807557,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.36,-4.41,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [37]:
same2 = same[(same['time'] == same['end_time']) & (same['pff_positionLinedUp'].isin(['LT','RT']))]
same2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
189013,202109090097,41.56,23.92,2021090900,97,42377.0,40,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.66,0.17,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189014,202109090097,41.56,23.92,2021090900,97,42377.0,41,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.73,0.11,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189015,202109090097,41.56,23.92,2021090900,97,42377.0,42,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.82,0.07,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189016,202109090097,41.56,23.92,2021090900,97,42377.0,43,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.92,0.03,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189090,2021090900137,108.68,23.85,2021090900,137,37082.0,32,2021-09-10 00:28:13,77.0,DAL,...,TRADITIONAL,0,2021-09-10 00:28:10,6.52,3.57,none,2021-09-10 00:28:13,40074.0,35454.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807464,20211025003926,85.95,23.68,2021102500,3926,33107.0,42,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,2.89,2.53,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807465,20211025003926,85.95,23.68,2021102500,3926,33107.0,43,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.03,2.64,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807466,20211025003926,85.95,23.68,2021102500,3926,33107.0,44,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.16,2.75,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807467,20211025003926,85.95,23.68,2021102500,3926,33107.0,45,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.30,2.84,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807468,20211025003926,85.95,23.68,2021102500,3926,33107.0,46,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.42,2.92,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [38]:
same3 = same2[same2['new_y'] > 0]
same3

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
189013,202109090097,41.56,23.92,2021090900,97,42377.0,40,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.66,0.17,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189014,202109090097,41.56,23.92,2021090900,97,42377.0,41,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.73,0.11,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189015,202109090097,41.56,23.92,2021090900,97,42377.0,42,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.82,0.07,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189016,202109090097,41.56,23.92,2021090900,97,42377.0,43,2021-09-10 00:26:35,76.0,TB,...,TRADITIONAL,0,2021-09-10 00:26:31,7.92,0.03,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
189090,2021090900137,108.68,23.85,2021090900,137,37082.0,32,2021-09-10 00:28:13,77.0,DAL,...,TRADITIONAL,0,2021-09-10 00:28:10,6.52,3.57,none,2021-09-10 00:28:13,40074.0,35454.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807464,20211025003926,85.95,23.68,2021102500,3926,33107.0,42,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,2.89,2.53,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807465,20211025003926,85.95,23.68,2021102500,3926,33107.0,43,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.03,2.64,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807466,20211025003926,85.95,23.68,2021102500,3926,33107.0,44,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.16,2.75,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807467,20211025003926,85.95,23.68,2021102500,3926,33107.0,45,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.30,2.84,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807468,20211025003926,85.95,23.68,2021102500,3926,33107.0,46,2021-10-26 03:14:08,76.0,SEA,...,TRADITIONAL,0,2021-10-26 03:14:05,3.42,2.92,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [39]:
same_ids = same3['uniqueplayId']
same_filtered = same[same['uniqueplayId'].isin(same_ids)]
same_filtered

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
0,202109090097,41.56,23.92,2021090900,97,42403.0,1,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.47,8.77,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
1,202109090097,41.56,23.92,2021090900,97,42403.0,2,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.46,8.76,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
2,202109090097,41.56,23.92,2021090900,97,42403.0,3,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.43,8.75,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
3,202109090097,41.56,23.92,2021090900,97,42403.0,4,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.42,8.74,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
4,202109090097,41.56,23.92,2021090900,97,42403.0,5,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.40,8.73,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807553,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.18,-3.67,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807554,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.22,-3.89,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807555,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.27,-4.08,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807556,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.31,-4.26,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
807557,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.36,-4.41,none,2021-10-26 03:14:08,37097.0,46083.0,0.0

In [41]:
classify2 = pd.concat([same_filtered,flip_filtered])
classify2

,uniqueplayId,football_x,football_y,gameId,playId,nflId,frameId,time,jerseyNumber,team,...,dropBackType,pff_playAction,ball_snap_time,new_x,new_y,chip_side,end_time,Right_End,Left_End,Flip
0,202109090097,41.56,23.92,2021090900,97,42403.0,1,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.47,8.77,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
1,202109090097,41.56,23.92,2021090900,97,42403.0,2,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.46,8.76,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
2,202109090097,41.56,23.92,2021090900,97,42403.0,3,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.43,8.75,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
3,202109090097,41.56,23.92,2021090900,97,42403.0,4,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.42,8.74,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
4,202109090097,41.56,23.92,2021090900,97,42403.0,5,2021-09-10 00:26:31,94.0,DAL,...,TRADITIONAL,0,2021-09-10 00:26:31,2.40,8.73,none,2021-09-10 00:26:35,53441.0,42403.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629274,20211025003926,85.95,23.68,2021102500,3926,NaN,45,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.18,3.67,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629275,20211025003926,85.95,23.68,2021102500,3926,NaN,46,2021-10-26 03:14:08,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.22,3.89,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629276,20211025003926,85.95,23.68,2021102500,3926,NaN,47,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.27,4.08,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629277,20211025003926,85.95,23.68,2021102500,3926,NaN,48,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.31,4.26,none,2021-10-26 03:14:08,37097.0,46083.0,0.0
1629278,20211025003926,85.95,23.68,2021102500,3926,NaN,49,2021-10-26 03:14:09,NaN,football,...,TRADITIONAL,0,2021-10-26 03:14:05,7.36,4.41,none,2021-10-26 03:14:08,37097.0,46083.0,0.0